@import "frappe.css" ;

* {
    -gtk-secondary-caret-color: red;
}

window {
    background-size: cover ;
    background-repeat: no-repeat ;
    background-color: @base ;
    /* background-image: url("/usr/share/wallpapers/default-1920x1080.png") ; */
    /* background-image: url("Backgrounds/wallhaven-28mpg6.png"); */
    color: @text ;
}

#window-box {
    padding: 64px 96px;
    border: 2px solid @pink ;
    border-radius: 24px ;
    background-color: @mantle ;
}

#clock-label {
    font-family: "Hack", "Symbols Nerd Font" ;
    font-weight: 400;
    font-size: 12pt ;
}


#user-name {
    font-family: "Cantarell" ;
    font-size: 24pt ;
    font-weight: 600 ;
}

#user-image {
    border-radius: 100% ;
}

#error-label, #warning-label {
    font-weight: 600 ;
    font-size: 12pt ;
    color: yellow ;
}

#input-label {
    font-size: 0pt ;
}

#input-field {
    background-color: inherit;
    border-color: inherit;
    border: 0.1px solid @overlay2 ;
    background-color: @mantle ;
    box-shadow: none;
    color: @overlay0 ;
}

#unlock-button {
    background-image: none;
    background-color: @crust ;
    border-color: @blue ;
    box-shadow: none;
    color: @blue ;
}
