.frame {
    background: rgba(48,52,70,0.8);
}

button, image {
    margin: 20px;
    background: none;
    border-style: none;
    box-shadow: none;
    text-shadow: none;
    color: #c6d0f5;
}

button {
    padding-left: 10px;
    padding-right: 10px;
    margin: 5px;
    -gtk-icon-shadow: none;
}
