@import "frappe.css" ;

* {
    border-radius: 0px ;
    font-family: "Hack", "Symbols Nerd Font Mono", "HanWangKanTan" ;
    font-size: 16px ;
    font-weight: 600 ;
    padding: 0px ;
    margin: 0px ;
}

.modules-left, .modules-center, .modules-right {
    padding: 0 32px ;
    background-color: @base ;
    border-radius: 0 0 12px 12px ;
    color: @text ;
}

.modules-left {
    margin-left: 16px ;
}

.modules-right {
    margin-right: 16px ;
}

window#waybar {
    background-color: transparent ;
    border: unset ;
}

#workspaces button, #tags button {
    color: @overlay0 ;
    border: unset ;
    transition: none ;
}

#workspaces button {
    padding: 0 12px ;
}

#tags button {
    padding: 0 4px ;
}

button:hover {
    box-shadow: unset ;
    text-shadow: unset ;
    background: unset ;
    border: unset ;
}

#workspaces button.visible, #tags button.occupied { color: @subtext0 ; }
#workspaces button.focused, #tags button.focused { color: @pink ; }
#workspaces button.urgent, #tags button.urgent { color: @blue ; }

#mode {
    color: @yellow ;
    padding-left: 12px ;
}

#clock,
#cpu,
#memory,
#temperature,
#backlight,
#network,
#pulseaudio,
#custom-media,
#custom-cewri,
#battery,
#mpris,
#tray
{
    padding: 0 8px ;
}

#battery.charging,
#battery.plugged                 { color: @pink ; }

#battery.full:not(.charging),
#battery.great:not(.charging)    { color: @blue ; }

#battery.good:not(.charging)     { color: @green ; }
#battery.warning:not(.charging)  { color: @yellow ; }
#battery.critical:not(.charging) { color: @red ; }

#cpu.h { color: @red ; }
#cpu.m { color: @yellow ; }
#cpu.l { color: @blue ; }

#pulseaudio.h { color: @red ; }
#pulseaudio.m { color: @green  ; }
#pulseaudio.l { color: @white ; }

#network.h { color: @green ; }
#network.m { color: @yellow ; }
#network.l { color: @red ; }
